<!DOCTYPE html>
<html lang="et">
<head>
  <meta charset="utf-8">
  <title>Jako Puusepp</title>
</head>
<body>
  <img src="images/vp_banner_2025_TA.jpg" alt="kursuse bänner">
  <h1> Jako Puusepp </h1>
  <p>See leht on loodud õppimise põhimõtetega <a href="https://www.tlu.ee">Tallinna Ülikoolis</a> ning pole tõsiselt võetava sisuga.</p>
  <hr>
  <ul>
  <li><a href="/">Avaleht</a></li>
  </ul>
  <hr>
  <h2>Eesti film</h2>
  <ul>
	<!--% t2hendab ejs kood muutujat-->
	<li><a href ="/Eestifilm/inimesed">Eesti filmiinimesed</a></li>
	<li><a href ="/Eestifilm/filmiinimesed_add">Eesti filmiinimesete lisamine</a></li>
	<li><a href ="/Eestifilm/filmid">Eesti filmid</a></li>
  </ul>
</body>
</html>