<!DOCTYPE html>
<html lang="et">
<head>
  <meta charset="utf-8">
  <title>Jako Puusepp</title>
</head>
<body>
  <img src="images/vp_banner_2025_TA.jpg" alt="kursuse bänner">
  <h1> Jako Puusepp </h1>
  <p>See leht on loodud õppimise põhimõtetega <a href="https://www.tlu.ee">Tallinna Ülikoolis</a> ning pole tõsiselt võetava sisuga.</p>
  <hr>
<ul>
    <li><a href="/"> Avaleht </a></li>
    <li><a href="/Eestifilm">Eesti filmide avaleht</a></li>
  </ul>
  <hr>
  <h2> Uue rolli või positsiooni lisamine </h2>

  <form method="POST">
    <label for="positionInput"> Rolli / positsiooni nimetus </label>
    <input id="positionInput" name="positionInput" type="text" placeholder="Rolli / positsiooni nimi" required>
    <br>
    <label for="positionDescriptionInput"> Rolli või positsiooni kirjeldus </label>
    <textarea id="positionDescriptionInput" name="positionDescriptionInput" cols="100" rows="5" placeholder="Ameti lühikirjeldus..." required> </textarea>  
    <br>
    <input id="positionSubmit" name="positionSubmit" type="submit" value="Salvesta positsioon andmebaasi">
  </form>
</body>
</html>