<!DOCTYPE html>
<html lang="et">
<head>
  <meta charset="utf-8">
  <title>Jako Puusepp</title>
</head>
<body>
  <img src="../images/vp_banner_2025_TA.jpg" alt="kursuse bänner">
  <h1> Jako Puusepp </h1>
  <p>See leht on loodud õppimise põhimõtetega <a href="https://www.tlu.ee">Tallinna Ülikoolis</a> ning pole tõsiselt võetava sisuga.</p>
  <hr>
  <ul>
  <li><a href="/">Avaleht</a></li>
  <li><a href ="/Eestifilm">Eesti filmi avaleht</a></li>
  <li><a href ="/Eestifilm/inimesed">Eesti filmiinimesed</a></li>
  </ul>
  <hr>
   <form method="POST">
	<label for="firstNameInput">Filmi nimi</label>
	<input id="filmNameInput" type="text" name="filmNameInput" placeholder="Kirjuta siia tegelase eesnimi..." required>
	<br>
	<label for="filmYearInput">Filmi tootmis aasta</label>
	<input id="filmYearInput" type="number" name="filmYearInput" placeholder="Sisesta filmi tootmise aasta..."required>
	<br>
	<label for="durationInput">Filmi Kestvus</label>
	<input id="durationInput" name="durationInput" type="number" placeholder="Sisesta filmi kestvus..."required>
	<br>
	<input id="filmSubmit" type="submit" name="filmSubmit" value="Salvesta">
  <hr>
  <h2>Eesti filmiinimesed</h2>
  <ol>
	<% movieList.forEach(function(listItem){%>
	<li><%= listItem.title%> <%= listItem.production_year%>, kestab <%= listItem.duration%></li>
	<% }); %>
  </ol>
</body>
</html>