<!DOCTYPE html>
<html lang="et">
<head>
  <meta charset="utf-8">
  <title>Jako Puusepp</title>
</head>
<body>
  <img src="images/vp_banner_2025_TA.jpg" alt="kursuse bänner">
  <h1> Jako Puusepp </h1>
  <p>See leht on loodud õppimise põhimõtetega <a href="https://www.tlu.ee">Tallinna Ülikoolis</a> ning pole tõsiselt võetava sisuga.</p>
  <hr>
  <h2>Tere tulemast <%= user %>!</h2>
  <ul>
  	<li><a href="/logout">Välja logimine</a></li>
	<li><a href="/galleryfotoupload">Galeriise fotode üleslaadimine</a></li>
	<li><a href="/fotogallery">Foto galerii</a></li>
  </ul>
</body>
</html>