<!DOCTYPE html>
<html lang="et">
<head>
  <meta charset="utf-8">
  <title>Jako Puusepp</title>
</head>
<body>
  <img src="images/vp_banner_2025_TA.jpg" alt="kursuse bänner">
  <h1> Jako Puusepp </h1>
  <p>See leht on loodud õppimise põhimõtetega <a href="https://www.tlu.ee">Tallinna Ülikoolis</a> ning pole tõsiselt võetava sisuga.</p>
  <hr>
  <ul>
  <li><a href="/">Avaleht</a></li>
  </ul>
  <hr>
  <h2>Pane end külastajana kirja</h2>
  <form method="POST">
	<label for="nameInput">Nimi</label>
	<input id="nameInput" type="text" name="nameInput" placeholder="Kirjuta siia oma nimi...">
	<br>
	<input id="regSubmit" type="submit" name="regSubmit" value="Salvesta">
  </form>
</body>
</html>